.activeIndex .el-container{
  /*border-bottom:1px solid #eee;*/
}
.activeIndex .el-tabs__header{
  margin-bottom:0;
}
.activeIndex .el-tabs__content{
  padding:0 10px;
}
.activeIndex .el-tabs__content ul li{
  padding:15px 0;
  border-bottom:1px solid #eee;
}
.activeIndex .el-tabs__content ul li:last-child{
  border:none;
}
.activeIndex .el-tabs__nav-scroll{
  padding:0 10px;
}
.activeIndex .el-tabs__nav-wrap::after{
  height:1px;
  background-color: #f5f5f5;
}
.activeIndex .el-tabs__item{
  height:50px;
  line-height:50px;
  width:50%;
  text-align: center;
  padding:0;
  color:#929ab0;
  font-weight: bold;
}
.activeIndex .el-tabs__nav{
  width:100%;
  float:initial;
}
.activeIndex .el-tabs__active-bar{
  width:20px !important;
  border-radius: 2px;
  height:5px;
  display: none;
}
.activeIndex .is-active{
  position:relative !important;
  color:#506187 !important;
}
.activeIndex .el-tabs__item.is-active::before{
  position:absolute;
  left:50%;
  bottom:1px;
  transform: translateX(-50%);
  content: "";
  display: inline-block;
  width:18px;
  height:4px;
  background: -webkit-linear-gradient(left, #3cc6fb , #12b2ee); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, #3cc6fb , #12b2ee); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, #3cc6fb , #12b2ee); /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, #3cc6fb , #12b2ee); /* 标准的语法 */
  border-radius: 2px;
}
.activeIndex .el-tabs__nav-wrap::after{
  z-index: 19;
}
.activeIndex .div_calendar span.select,.activeIndex .div_calendar span.today{
  background-color:#12b2ee;
}
.volunteerIndex .el-container{
  /*border-bottom:1px solid #eee;*/
}
.volunteerIndex .el-tabs__header{
  margin-bottom:0;
}
.volunteerIndex .el-tabs__content{
  padding:0 10px;
}
.volunteerIndex .el-tabs__content ul li{
  padding:15px 0;
  border-bottom:1px solid #eee;
}
.volunteerIndex .el-tabs__content ul li:last-child{
  border:none;
}
.volunteerIndex .el-tabs__nav-scroll{
  padding:0 10px;
}
.volunteerIndex .el-tabs__nav-wrap::after{
  height:1px;
  background-color: #f5f5f5;
}
.volunteerIndex .el-tabs__item{
  height:50px;
  line-height:50px;
  width:50%;
  text-align: center;
  padding:0;
  color:#929ab0;
  font-weight: bold;
}
.volunteerIndex .el-tabs__nav{
  width:100%;
  float:initial;
}
.volunteerIndex .el-tabs__active-bar{
  width:20px !important;
  border-radius: 2px;
  height:5px;
  display: none;
}
.volunteerIndex .is-active{
  position:relative !important;
  color:#506187 !important;
}
.volunteerIndex .el-tabs__item.is-active::before{
  position:absolute;
  left:50%;
  bottom:1px;
  transform: translateX(-50%);
  content: "";
  display: inline-block;
  width:18px;
  height:4px;
  background: -webkit-linear-gradient(left, #ee886d , #f56f74); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, #ee886d , #f56f74); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, #ee886d , #f56f74); /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, #ee886d , #f56f74); /* 标准的语法 */
  border-radius: 2px;
}
.volunteerIndex .el-tabs__nav-wrap::after{
  z-index: 19;
}
.volunteerIndex .div_calendar span.select,.volunteerIndex .div_calendar span.today{
  background-color:#f56f74;
}
.swiper-pagination .swiper-pagination-bullet{
  width:13px;
  height:4px;
  border-radius: 2px;
}
.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets{
  bottom:0;
}
.swiper-pagination .swiper-pagination-bullet-active{
  background-color:white;
}
.el-tabs__item:hover{
  color: #506187 !important;
  cursor: initial;
}
.volunteerIndex .arrowActive{
  color:#f56f74;
}
